div {
	background: lightgrey;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
h1{
	background: lightgrey;
	width: 300px;
	border: 25px solid red;
	padding: 25px;
	margin: 25px;
}