#foto{
	width: 5em;
	height: 2em;
}
#inicio{
	margin-top: 0.5em;
}
#fim{
	margin-top: 0.5em;
}
#bata{
	margin-left: 70px;
}
#button1, #button2, #button3{
	margin-left: 70px;
}
#button4{
	margin-left: 20px;
}
#p1, #p2, #p3, #p4{
	margin-left: 70px;
	margin-right: 70px;
}
