.header{
	padding-right: 15px;
	padding-left: 15px;
}
#titulo{
	text-align: center;
}
.bs-docs-header{
	margin-top: 20px;
}
#nav{
	background: #FFFAF0;
}
#conteudo{
	padding-top: 60px;
	margin-left: 70px;
	margin-right: 70px;
}
.nav nav-pills{
	margin-top: 2px;
}
#p1{
	margin-top: 1em;
}
#p1,#p2,#p3,#p4{
	text-align:justify;		
	width:250px;
}
.img{
	border-top-style: 2em;
}
.btn btn-success, .btn btn-danger{
	float: left;
}
#rodape{
	padding-top: 60px;
	text-align: center;
	background: #FFE4C4;
}
#form{
	padding-top: 60px;
	margin: 60px;
}
#jumbotron{
	background: #FFE4C4;
	padding-left: 10px;
}
#salvar{
	margin-top: 10px;
	margin-left: 355px;
}
#h3{
	text-align: center;
}
#myTable{
	margin-top: 60px;
}