#shape{
	background-image: url(image2.jpg);
	size: 200px;
}
#lista{
	position: absolute;
	left: 100px;
	top: 350px;
	font-style: normal;
	font-size: 20px;
}
#newPlayer{
	position: absolute;
	left: 100px;
	top: 610px;
}
#titulo{
	text-align: center;
	font-size: 50px;
	color: black;
}
#jogo{
	text-align: center;
	font-size: 30px;
	color: black;
	left: 100px;
}
#description{
	position: absolute;
	left: 100px;
	top: 400px;
	font-style: normal;
	font-size: 40px;
	color: black;
}
#papel{
	position: absolute;
	left: 1050px;
	top: 400px;
	font-style: normal;
	font-size: 30px;
}
#pedra{
	position: absolute;
	left: 1050px;
	top: 450px;
	font-style: normal;
	font-size: 30px;
}
#tesoura{
	position: absolute;
	left: 1050px;
	top: 500px;
	font-style: normal;
	font-size: 30px;
}
table{
	position: absolute;
	left: 500px;
	top: 200px;
	border: 1px solid black;
}
th, td{
	border: 1px solid black;
	text-align: center;
}